<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PUNAM'S MAKEOVER</title>
  <link rel="stylesheet" href="../CSS/contact.css">
</head>

<body>
  <header>
    <div class="logo">
      <img src="../Images/Logo.jpg" alt="">
    </div>
    <nav class="navbar">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/service">Services</a>
      <a href="/contact">Contact</a>
      <a href="/portfolio">Portfolio</a>
      <a href="/login">Sign in</a>
    </nav>
  </header>

  <main>

    <!-- <div class="container">
      <h1 class="HeadLine">Contact Us</h1>
      <p class="tagLine">Below are the details to reach out to us!</p>
      <div class="Social-media">
        <div class="Bhandara">
          <span><ion-icon name="location-outline"></ion-icon></span>
          <h3>Location</h3>
          <p>Sakoli, Bhandara, India</p>
        </div>

        <div class="whatsapp">
          <span><ion-icon name="logo-whatsapp"></ion-icon></span>
          <h3>Whatsapp</h3>
          <p>Have A touch</p>
        </div>

        <div class="mail">
          <span><ion-icon name="mail-unread-outline"></ion-icon></span>
          <h3>Mail</h3>
          <p>landekarachal8@gmail.com</p>
        </div>

      </div>
    </div> -->

    <div class="container">
      
      <div class="paragraph">
        <p>Take care of your skin and enhance your gorgeous
           looks by picking up the right products from the
            leading cosmetics brands. Don’t compromise on
             quality of makeup products to save some pennies. 
          
          </p>
          <img src="../Images/para.jpg" alt="">
      </div>

      <form action="" method="post">
        <h1>Have a Question ?</h1>
        <label for="email">Email</label>
        <input type="email" name="email" id="email">
        <label for="querries">Enter your Question here </label>
        <textarea name="query" id="query"></textarea>
        <button type="submit">Send</button>
      </form>
    </div>

    <div class="container-2">

      <div class="more-info">
        <h2>For more information follow me on</h2>
  
        <div class="social-icon">
          <span class="icon-box"><ion-icon name="logo-instagram"></ion-icon></span>
          <span class="icon-box"><ion-icon name="logo-facebook"></ion-icon></span>
          <span class="icon-box"><ion-icon name="logo-twitter"></ion-icon></span>
          <span class="icon-box"><ion-icon name="logo-whatsapp"></ion-icon></span>
        </div>
      </div>


      <div class="local-address">
        <h1>Address</h1>
        <h3>Punam's Makeover</h3>
        <p>Plot No. 144, Near Patle Hospital, on Satarwada Road</p>
        <p>At-Post: Virshee, Ta: Sakoli, District: Bhandara , State: Maharastra</p>
      </div>

    </div>

  </main>

  <footer>
    <div class="footer-container">
      <img src="../Images/Logo.jpg" alt="Logo Image">

      <div class="footer-info">
        <h4>Linked us</h4>
        <a href="#">About us</a>
        <a href="#">Contact us</a>
        <a href="#">Locations</a>
        <a href="#">Blogs</a>
        <a href="#">FAQ's</a>
        <a href="#">Sign in</a>
      </div>

      <div class="legal-info">
        <h4>Legal</h4>
        <a href="#">Term & Conditions</a>
        <a href="#">Privancy Policy</a>
        <a href="#">Terms of use</a>
        <a href="#">Accesibility Statements</a>
      </div>

      <div class="stay-connect">
        <h2>Let's Stay Connected</h2>
        <form action="" id="footer-form">
          <input type="email" name="email" id="" placeholder="Your mail">
          <button type="submit">Submit</button>
        </form>

        <div class="footer-links">
          <span id="footer-icon"><ion-icon name="logo-instagram"></ion-icon></span>
          <span id="footer-icon"><ion-icon name="logo-facebook"></ion-icon></span>
          <span id="footer-icon"><ion-icon name="logo-twitter"></ion-icon></span>
          <span id="footer-icon"><ion-icon name="logo-whatsapp"></ion-icon></span>
        </div>
      </div>

      
    </div>

  </footer>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>