<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PUNAM'S MAKEOVER | BHANDARA</title>
   <link rel="stylesheet" href="../CSS/style.css">
</head>

<body>
    <header>
        <h2 class="logo">Punam's Makeover</h2>
        <nav class="navigation">
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/service">Services</a>
          <a href="/contact">Contact</a>
          <a href="/portfolio">Portfolio</a>
          <a href="/login">Sign in</a>
        </nav>
      </header>
    

    <div class="Container_1">
        <h1>Welcome,</h1>
        <h3>This is  PUNAM's Makeover</h3>
        <p>We provide Service like Makeup in our city and also provide services for Wedding function, 
            Parties Function, and many more. . . . .
        </p>

        <button><a href="/bookNow">Booking Here</a></button>
    </div>


    <footer>
      <div class="footer-container">
        <img src="../Images/Logo.jpg" alt="Logo Image">
  
        <div class="footer-info">
          <h4>Linked us</h4>
          <a href="#">About us</a>
          <a href="#">Contact us</a>
          <a href="#">Locations</a>
          <a href="#">Blogs</a>
          <a href="#">FAQ's</a>
          <a href="#">Sign in</a>
        </div>
  
        <div class="legal-info">
          <h4>Legal</h4>
          <a href="#">Term & Conditions</a>
          <a href="#">Privancy Policy</a>
          <a href="#">Terms of use</a>
          <a href="#">Accesibility Statements</a>
        </div>
  
        <div class="stay-connect">
          <h2>Let's Stay Connected</h2>
          <form action="" id="footer-form">
            <input type="email" name="email" id="" placeholder="Your mail">
            <button type="submit">Submit</button>
          </form>
  
          <div class="footer-links">
            <span id="footer-icon"><ion-icon name="logo-instagram"></ion-icon></span>
            <span id="footer-icon"><ion-icon name="logo-facebook"></ion-icon></span>
            <span id="footer-icon"><ion-icon name="logo-twitter"></ion-icon></span>
            <span id="footer-icon"><ion-icon name="logo-whatsapp"></ion-icon></span>
          </div>
        </div>
  
        
      </div>
  
    </footer>
</body>
</html>