<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset"UTF-8">
  <meta http-equiv="X-UA-compatible" content="IE-edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PUNAM'S MAKEOVER | BHANDARA Login Page</title>

  <link rel="stylesheet" href="../CSS/LoginPage.css">
</head>

<body><!--background="ImagesHTML/my.jpg">-->
  <header>
    <div class="logo">
        Punam's Makeover
    </div>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/service">Services</a>
        <a href="/contact">Contact</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/login">Sign in</a>
    </div>
</header>

  <div class="wrapper">
    <!-- <span class="icon-close">
      <ion-icon name="close-outline"></ion-icon>
    </span> -->
    <div class="form-box login">
      <h2>Login</h2>
      <form action="/loginpage" method="post">
        <div class="input-box">
          <span class="icon">
            <ion-icon name="mail-outline"></ion-icon></span>
          <input type="email" required name="email">
          <label>Email</label>
        </div>

        <div class="input-box">
          <span class="icon">
            <ion-icon name="lock-closed-outline"></ion-icon>
          </span>
          <input type="password"  name="password" required>
          <label>Password</label>
        </div>

        <div class="remember-forgot">
          <label><input type="checkbox">Remember me</label>
          <a href="#">Forgot password?</a>
        </div>

        <button type="submit" class="btn">Login</button>

        <div class="login-register">
          <p>Don't have an account?<a href="/register" class="registerlink">Register</a></p>
        </div>
      </form>
    </div>

    
  </div>
  <script src="LoginPage.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>