*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family:'Times New Roman', Times, serif;

}

body{
    width: 100%;
    /* min-height: 100vh; */
    /* background-image: url('/public/Images/backgrd-img_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
} 

header{
    width: 100%;
    height: 80px;
    background-color: rgb(53, 53, 53);
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    width: 50px;
    height: 100%;
    position: relative;
    font-size: 30px;
    font-style: oblique;
    font-weight: 600;
    color: aqua;
    top: -10px;
    cursor: pointer;
}

header .logo img{
    width: 120px;
    height: 100%;
    margin: 0px 50px;
    mix-blend-mode: lighten;
    cursor: pointer;
}
.navbar a{
    text-decoration: none;
    font-size: 20px;
    margin: 5px 20px;
    color: rgb(236, 234, 234);
    cursor: pointer;
    /* margin: 15px 20px; */
}
.navbar button{
    font-size: 20px;
    background: none;
    outline: none;
    margin: 10px 50px;
    color: rgb(251, 252, 253);
    border: none;
}

.navbar button:hover{
    color: blue;
}


.container{
    width: 80%;
    height: 200px;
    margin: 70px 200px 10px 150px;
}

.container #para{
    text-align: justify;
}

.Images{
    width: 60%;
    height: 70%;
    position: relative;
    left: 250px;
}
.Images img{
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    border: 10px solid black;
    margin: 30px 20px;
}

.Images #photo_1, #photo_2, #photo_3, #photo_4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px;
    background-color: rgb(219, 219, 219);
    box-shadow: 5px 5px 5px rgb(43, 42, 42),
    -5px -5px 5px rgb(43, 42, 42);
}

.Images p{
    width: 40%;
    position: relative;
    text-align: justify;
    height: 80%;
    margin: 10px 15px;
}

span{
    color:rgb(197, 135, 19);
}

footer{
    position: absolute;
    top: 2550px;
    width: 100%;
    height: 230px;
    background-color: rgb(77, 77, 77);
}

footer .footer-container{
    position: relative;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img{
    position: relative;
    width: 25%;
    height: 70%;
    /* margin: 20px 0px; */
    mix-blend-mode:lighten;
}

footer .footer-container .footer-info, .legal-info{
    position: relative;
    width: 10%;
    height: 50%;
}

footer .footer-container .footer-info, .legal-info h4{
    color: rgb(131, 184, 255);
}

footer .footer-container .footer-info a, .legal-info a{
    display: block;
    text-decoration: none;
    color: rgb(244, 240, 240);
}

footer .footer-container .footer-info a:hover, .legal-info a:hover{
    color: rgb(106, 66, 248);
}

footer .footer-container .stay-connect{
    position: relative;
    width: 20%;
    height: 50%;
    
}

footer .footer-container .stay-connect h2{
    color: rgb(131, 184, 255);
}

footer .footer-container .stay-connect #footer-form{
    color: white;
    width: 270px;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin: 20px 5px;
    display: flex;
}

footer .footer-container .stay-connect #footer-form input{
    border: none;
    outline: none;
    background: none;
    color: azure;
    width: 200px;
    font-size: 17px;   
}

footer .footer-container .stay-connect #footer-form button{
    border: none;
    outline: none;
    background: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
}

footer .footer-container .footer-links #footer-icon{
    margin: 50px 10px;
    font-size: 30px;
    color: white;
}

footer .footer-container .footer-links #footer-icon:hover{
    color: rgb(80, 171, 251);
}